@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'bitters/bitters';

body {
  @include outer-container;
}
.shout :hover {
  background: #f4f4f4;
}

.shout {
  @include fill-parent();

  border-top:1px solid gray;
  padding: 4px;

  .author {
    padding: 4px;

    .email {
      font-size: 13px;
      font-weight: bold;
    }

    .body{
      padding: 4px;
      font-size: 18px;
      font-weight: light;
    }

    .time {
      font-size: 10px;
      color: gray;
    }
  }

}

button {
  margin: 4;
  padding: 4;
  border: 4;
  background: none;
  font-size: 100%;
  vertical-align: super;
  font-family: inherit;
  color: red;
  -webkit-appearance: none;
  /*-moz-appearance: none;*/
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  // float: right;
}

.shout .destroy:hover {
  text-shadow: 0 0 1px #000,
         0 0 10px rgba(199, 107, 107, 0.8);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}

.shout .destroy:after {
  content: '✖';
}

.shout:hover .destroy {
  display: block;
}
